<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%include ga.ejs%>
		<title>IEEE Benefits - Amrita Bangalore</title>
		<meta property="og:title" content="IEEE Benefits - Amrita Bangalore" />
		<meta
			name="description"
			content="IEEE (Amrita Branch) - The world's largest technical professional organization dedicated to advancing technology for the benefit of humanity."
		/>
		<meta
			property="og:description"
			content="IEEE (Amrita Branch) - The world's largest technical professional organization dedicated to advancing technology for the benefit of humanity."
		/>
		<meta
			property="og:url"
			content="https://ieee-amrita.firebaseapp.com/benefits.html"
		/>
		<%include meta.ejs%>
	</head>

	<body id="top">
		<%include header.ejs%>
		<section class="s-services" style="background-color: #e9e9e9">
			<div class="row section-header has-bottom-sep" data-aos="fade-up">
				<div class="col-full">
					<h1 class="display-2">
						Benefits of IEEE
					</h1>
				</div>
			</div>
			<div class="row about-desc" data-aos="fade-up">
				<div class="col-full" data-aos="fade-up">
					<p>
						IEEE is the world's largest technical professional
						organisation, with students and researchers from all
						around the world, and our college is an official chapter
						of IEEE. This is a unique opportunity for all those who
						are looking for exposure in their fields backed by
						strong technical content provided by IEEE. IEEE offers
						an array of benefits.
					</p>
				</div>
			</div>
		</section>
		<section class="s-services">
			<div class="row section-header has-bottom-sep" data-aos="fade-up">
				<div class="col-full">
					<h1 class="display-2">
						Benefits
					</h1>
				</div>
			</div>
			<div class="row about-desc" data-aos="fade-up">
				<div class="row services-list block-1-2 block-tab-full">
					<div class="col-block service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa fa-globe"></i>
						</div>
						<div class="service-text">
							<h3 class="h2">Keep Technically Current</h3>
							<p>
								Continue to advance your career and keep abreast
								of new and changing technologies. IEEE has the
								means for you to remain technically current
								through award winning publications, and
								technical societies.
							</p>
						</div>
					</div>

					<div class="col-block service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa"></i>
						</div>
						<div class="service-text">
							<h3 class="h2"></h3>
							<p></p>
						</div>
					</div>

					<div class="col-block service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa"></i>
						</div>
						<div class="service-text">
							<h3 class="h2"></h3>
							<p></p>
						</div>
					</div>

					<div class="col-block service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa fa-address-book"></i>
						</div>
						<div class="service-text">
							<h3 class="h2">Networking</h3>
							<p>
								Attending events of relevant interest, not only
								provides us technical knowledge but also the
								powerful possibility of networking with peer
								members. Student Congresses organized by IEEE
								are the ultimate events where you can network
								with a lot of volunteers and who created an
								impact at various scales
							</p>
						</div>
					</div>

					<div class="col-block service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa"></i>
						</div>
						<div class="service-text">
							<h3 class="h2"></h3>
							<p></p>
						</div>
					</div>

					<div class="col-block service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa"></i>
						</div>
						<div class="service-text">
							<h3 class="h2"></h3>
							<p></p>
						</div>
					</div>

					<div class="col-six service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa fa-university"></i>
						</div>
						<div class="service-text">
							<h3 class="h2">Technical Society</h3>
							<p>
								IEEE has around 39 technical societies which
								offers potential possibilities for the members.
								Joining a suitable society of your interest, can
								provide you more relevant technical updates
								related to your field.
							</p>
						</div>
					</div>
					<div class="col-block service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa"></i>
						</div>
						<div class="service-text">
							<h3 class="h2"></h3>
							<p></p>
						</div>
					</div>

					<div class="col-block service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa"></i>
						</div>
						<div class="service-text">
							<h3 class="h2"></h3>
							<p></p>
						</div>
					</div>
					<div class="col-block service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa fa-plug"></i>
						</div>
						<div class="service-text">
							<h3 class="h2">Online Benefits</h3>
							<p>
								<b>IEEE Collabratec</b> is a social network
								which can be used to collaborate with your
								contacts. <b>IEEE ResumeLab</b> lets you create
								and customise your resume from various
								styles/templates.
							</p>
						</div>
					</div>
					<div class="col-block service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa"></i>
						</div>
						<div class="service-text">
							<h3 class="h2"></h3>
							<p></p>
						</div>
					</div>
					<div class="col-block service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa"></i>
						</div>
						<div class="service-text">
							<h3 class="h2"></h3>
							<p></p>
						</div>
					</div>
					<div class="col-six service-item" data-aos="fade-up">
						<div class="service-icon">
							<i class="fa fa-tag"></i>
						</div>
						<div class="service-text">
							<h3 class="h2">Volunteering opportunities</h3>
							<p>
								IEEE also provides immense volunteering
								opportunities to exhibit our skills and to learn
								new things. It helps building a community of
								interested people and leaders who can innovate
								and do things. You can start volunteering from
								your Student Branch (SB), and can grow as a
								volunteer for Section, Council and Regional
								levels.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="s-services" style="background-color: #e6e6e6">
			<div class="row section-header has-bottom-sep" data-aos="fade-up">
				<div class="col-full">
					<h1 class="display-2">
						Other Benefits
					</h1>
				</div>
			</div>
			<div class="row about-desc" data-aos="fade-up">
				<div class="col-full" data-aos="fade-up">
					<ul>
						<li>
							You can access IEEE resources and their publications
							at any time, free of any cost.
						</li>
						<li>
							IEEE is the forum where tech giants like Sony,
							Nokia, Tesla and Samsung publish their research
							papers and it isn't available anywhere else. You
							will have a first hand access to all of these.
						</li>
						<li>
							The famous Bell Labs, publishes all its papers on
							IEEE forum. Just so you know, Bell Labs is credited
							with the invention of the Transistor, the C
							language, the DSP ECE students use in their Labs,
							LASER and the Solar cell.
						</li>
						<li>
							You can have the latest News from the IEEE Spectrum,
							IEEE standars and The Institute.
						</li>
					</ul>
				</div>
			</div>
		</section>
		<%include contact.ejs%> <%include footer.ejs%>
		<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
			<div class="pswp__bg"></div>
			<div class="pswp__scroll-wrap">
				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>

				<div class="pswp__ui pswp__ui--hidden">
					<div class="pswp__top-bar">
						<div class="pswp__counter"></div>
						<button
							class="pswp__button pswp__button--close"
							title="Close (Esc)"
						></button>
						<button
							class="pswp__button pswp__button--share"
							title="Share"
						></button>
						<button
							class="pswp__button pswp__button--fs"
							title="Toggle fullscreen"
						></button>
						<button
							class="pswp__button pswp__button--zoom"
							title="Zoom in/out"
						></button>
						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
								<div class="pswp__preloader__cut">
									<div class="pswp__preloader__donut"></div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
					>
						<div class="pswp__share-tooltip"></div>
					</div>
					<button
						class="pswp__button pswp__button--arrow--left"
						title="Previous (arrow left)"
					></button>
					<button
						class="pswp__button pswp__button--arrow--right"
						title="Next (arrow right)"
					></button>
					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>
				</div>
			</div>
		</div>
		<%include scripts.ejs%>
	</body>
</html>
