<footer>
	<div class="row footer-main">
		<div class="col-six tab-full left footer-desc">
			<div class="footer-logo"></div>
			The world's largest technical professional organization dedicated to
			advancing technology for the benefit of humanity.
		</div>

		<div class="col-six tab-full right footer-subscribe">
			<h4>Get Notified</h4>
			<p>
				Leave us your email to keep yourself updated.
			</p>

			<div class="subscribe-form">
				<form id="mc-form" class="group" novalidate="true">
					<input
						type="email"
						value=""
						name="EMAIL"
						class="email"
						id="mc-email"
						placeholder="Email Address"
						required=""
					/>
					<input type="submit" name="subscribe" value="Subscribe" />
					<label for="mc-email" class="subscribe-message"></label>
				</form>
			</div>
		</div>
	</div>

	<div class="row footer-bottom">
		<div class="col-twelve">
			<div class="copyright">
				<span>&copy; Copyright IEEE Amrita 2018</span>
				<span
					>Made by
					<a
						target="_blank"
						rel="noopener"
						href="https://linkedin.com/in/aravindvnair99/"
						>Aravind V. Nair</a
					>
					and
					<a
						target="_blank"
						rel="noopener"
						href="https://linkedin.com/in/abhishek-kvs/"
						>Abhishek Sai</a
					>
					for IEEE
					<a
						target="_blank"
						rel="noopener"
						href="https://www.amrita.edu/campus/bengaluru"
						>Amrita Bangalore</a
					>
				</span>
			</div>

			<div class="go-top">
				<a class="smoothscroll" title="Back to Top" href="#top">
					<i class="icon-arrow-up" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
