<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%include ga.ejs%>
		<title>How to join IEEE - Amrita Bangalore</title>
		<meta
			property="og:title"
			content="How to join IEEE - Amrita Bangalore"
		/>
		<meta
			name="description"
			content="IEEE (Amrita Branch) - The world's largest technical professional organization dedicated to advancing technology for the benefit of humanity."
		/>
		<meta
			property="og:description"
			content="IEEE (Amrita Branch) - The world's largest technical professional organization dedicated to advancing technology for the benefit of humanity."
		/>
		<meta
			property="og:url"
			content="https://ieee-amrita.firebaseapp.com/Join"
		/>
		<%include meta.ejs%>
	</head>

	<body id="top">
		<%include header.ejs%>
		<section id="services" class="s-services">
			<div class="row section-header has-bottom-sep" data-aos="fade-up">
				<div class="col-full">
					<h1 class="display-2" style="color:#39b54a;">
						How to become an IEEE member?
					</h1>
				</div>
			</div>
			<!-- end section-header -->
			<div class="row about-desc" data-aos="fade-up">
				<div class="col-full" data-aos="fade-up">
					<p>
						You can join IEEE by completing the online
						<a
							href="https://www.ieee.org/membership/join/index.html"
							>membership application</a
						>
						and join IEEE Amrita Student Branch or its chapters by
						filling up the form <a href="/Apply">here</a>.
					</p>
				</div>
				<div
					class="col-full"
					data-aos="fade-up"
					style="background-color: #e6e6e6"
				>
					<h2 data-aos="fade-up">
						There are two types of Memberships:
					</h2>
					<p data-aos="fade-up">
						<b>Professional Membership</b>: For individuals who are
						contributing or working in a technology or engineering
						field.
					</p>
					<p data-aos="fade-up">
						<b>Student/Graduate Student Membership</b>: For
						individuals studying at least part time in a technology
						or engineering field at an accredited institution. To
						qualify for student rates include: School Accreditation,
						Type of Degree, also your start and graduation date.
					</p>
				</div>
			</div>
			<br />
			<div class="row about-desc" data-aos="fade-up">
				<div
					class="col-full"
					data-aos="fade-up"
					style="background-color: #e6e6e6"
				>
					<br />
					<div
						class="row section-header has-bottom-sep"
						data-aos="fade-up"
					>
						<div class="col-full">
							<h1 class="display-2">
								Facts:
							</h1>
						</div>
					</div>
					<div class="row about-desc" data-aos="fade-up">
						<div class="col-full" data-aos="fade-up">
							<p>
								New members that join between 1 March and 15
								August are billed at
								<b>half-off the full-year membership</b> dues,
								and receive membership benefits through 31
								December.
							</p>
						</div>
					</div>
					<div class="row about-desc" data-aos="fade-up">
						<div class="col-full" data-aos="fade-up">
							<p>
								IEEE membership and Society Membership(s) are
								for individuals, for their personal use only.
								IEEE Membership and Society Membership(s) are
								not available to resellers, agents,
								corporations, universities or government
								agencies etc.
							</p>
						</div>
					</div>
					<div class="row about-desc" data-aos="fade-up">
						<div class="col-full" data-aos="fade-up">
							<p>
								If your company or institution is looking to
								subscribe to IEEE publications please click
								<a
									href="http://www.ieee.org/publications_standards/publications/subscriptions/info/subpricelist.html"
									>here</a
								>. IEEE membership is granted to eligible
								individuals and is not transferable.
							</p>
						</div>
					</div>
				</div>
			</div>
			<br />
		</section>
		<%include contact.ejs%>
		<%include footer.ejs%>
		<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
			<div class="pswp__bg"></div>
			<div class="pswp__scroll-wrap">
				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>

				<div class="pswp__ui pswp__ui--hidden">
					<div class="pswp__top-bar">
						<div class="pswp__counter"></div>
						<button
							class="pswp__button pswp__button--close"
							title="Close (Esc)"
						></button>
						<button
							class="pswp__button pswp__button--share"
							title="Share"
						></button>
						<button
							class="pswp__button pswp__button--fs"
							title="Toggle fullscreen"
						></button>
						<button
							class="pswp__button pswp__button--zoom"
							title="Zoom in/out"
						></button>
						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
								<div class="pswp__preloader__cut">
									<div class="pswp__preloader__donut"></div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
					>
						<div class="pswp__share-tooltip"></div>
					</div>
					<button
						class="pswp__button pswp__button--arrow--left"
						title="Previous (arrow left)"
					></button>
					<button
						class="pswp__button pswp__button--arrow--right"
						title="Next (arrow right)"
					></button>
					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>
				</div>
			</div>
		</div>
		<%include scripts.ejs%>
	</body>
</html>
