<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%include ga.ejs%>
		<title>Quiz - Amrita Bangalore</title>
		<meta property="og:title" content="Quiz - Amrita Bangalore" />
		<meta
			name="description"
			content="IEEE (Amrita Branch) - The world's largest technical professional organization dedicated to advancing technology for the benefit of humanity."
		/>
		<meta
			property="og:description"
			content="IEEE (Amrita Branch) - The world's largest technical professional organization dedicated to advancing technology for the benefit of humanity."
		/>
		<meta
			property="og:url"
			content="https://ieee-amrita.firebaseapp.com/Quiz"
		/>
		<%include meta.ejs%>
	</head>

	<body id="top">
		<%include header.ejs%>
		<section class="s-about" style="padding-bottom: 0%;">
			<div class="row section-header has-bottom-sep" data-aos="fade-up">
				<div class="col-full">
					<h3 class="subhead subhead--dark">Hello There</h3>
					<h1 class="display-1 display-1--light">Quiz</h1>
				</div>
			</div>

			<div class="row about-desc" data-aos="fade-up">
				<div class="col-full">
					<ul>
						<li>
							It is a 5 min online quiz comprising of 10 multiple
							choice questions with 3 options.
						</li>
						<li>
							The link for the quiz opens at 7:00 PM sharp every
							week on Saturday.
						</li>
						<li>
							Each correct answer gets you 5 points.
						</li>
						<li>
							You must participate in at least 3 quizzes in series
							to be eligible for the grand prize.
						</li>
						<li>
							Enter valid details while registering for the quiz
							to be able to receive the prizes.
						</li>
						<li>
							All the questions will be based on science and
							technology.
						</li>
						<li>
							Time Response will be considered in case of tie.
						</li>
					</ul>
					All the very best! &#x1f60a;
				</div>
			</div>

			<div class="about__line"></div>
		</section>
		<iframe
			src="https://docs.google.com/forms/d/e/1FAIpQLSeZzVr8FpaeFzSsGE8mXeS6M2I_pRn9GWb8rNxk7ncERjSY8g/viewform?embedded=true"
			width="100%"
			height="100%"
			frameborder="0"
			marginheight="0"
			marginwidth="0"
			>Loading...</iframe
		>
		<section id="contact" class="s-contact">
			<div class="overlay"></div>
			<div class="contact__line"></div>

			<div class="row section-header" data-aos="fade-up">
				<div class="col-full">
					<h3 class="subhead">Contact Us</h3>
					<h1 class="display-2 display-2--light">
						Reach out for a new project or just say hello
					</h1>
				</div>
			</div>

			<div class="row contact-content" data-aos="fade-up">
				<div class="contact-primary">
					<h3 class="h6">Send Us A Message</h3>

					<form
						name="contactForm"
						method="POST"
						action="https://formspree.io/ieeeamrita.sb@gmail.com"
					>
						<fieldset>
							<div class="form-field">
								<input
									name="contactName"
									type="text"
									id="contactName"
									placeholder="Your Name"
									value=""
									minlength="2"
									required=""
									aria-required="true"
									class="full-width"
									autocomplete="name"
								/>
							</div>
							<div class="form-field">
								<input
									name="contactEmail"
									type="email"
									id="contactEmail"
									placeholder="Your Email"
									value=""
									required=""
									aria-required="true"
									class="full-width"
									autocomplete="email"
								/>
							</div>
							<div class="form-field">
								<input
									name="contactSubject"
									type="text"
									id="contactSubject"
									placeholder="Subject"
									value=""
									class="full-width"
								/>
							</div>
							<div class="form-field">
								<textarea
									name="contactMessage"
									id="contactMessage"
									placeholder="Your Message"
									rows="10"
									cols="50"
									required=""
									aria-required="true"
									class="full-width"
								></textarea>
							</div>
							<div class="form-field">
								<button class="full-width btn--primary">
									Submit
								</button>
								<div class="submit-loader">
									<div class="text-loader">Sending...</div>
									<div class="s-loader">
										<div class="bounce1"></div>
										<div class="bounce2"></div>
										<div class="bounce3"></div>
									</div>
								</div>
							</div>
						</fieldset>
					</form>

					<div class="message-warning">
						Something went wrong. Please try again.
					</div>

					<div class="message-success">
						Your message was sent, thank you!
						<br />
					</div>
				</div>

				<div class="contact-secondary">
					<div class="contact-info">
						<h3 class="h6 hide-on-fullwidth">Contact Info</h3>

						<div class="cinfo">
							<h5>Where to Find Us</h5>
							<p>
								Amrita Vishwa Vidyapeetham University,
								<br />
								Kasavanahalli, <br />
								Carmelaram P.O., Bangalore <br />
								560 035 <br />
								Karnataka, India
							</p>
						</div>

						<div class="cinfo">
							<h5>Email Us At</h5>
							<p>
								<a href="mailto:ieeeamrita.sb@gmail.com"
									>ieeeamrita.sb@gmail.com</a
								>
							</p>
						</div>

						<div class="cinfo">
							<h5>Call Us At</h5>
							<p>
								Mobile:
								<a href="tel:+918904996683"
									>(+91) 890 499 6683</a
								>
							</p>
						</div>

						<ul class="contact-social">
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://www.facebook.com/ieeeamritasb/"
								>
									<i
										class="fa fa-facebook"
										aria-hidden="true"
									></i>
								</a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://www.instagram.com/ieee_amrita/"
								>
									<i
										class="fa fa-instagram"
										aria-hidden="true"
									></i>
								</a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://www.linkedin.com/company/ieee-student-branch-ase-b/"
								>
									<i
										class="fa fa-linkedin"
										aria-hidden="true"
									></i>
								</a>
							</li>
							<li>
								<a class="smoothscroll" href="#contact">
									<i
										class="fa fa-envelope"
										aria-hidden="true"
									></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<%include contact.ejs%>
		<%include footer.ejs%>
		<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
			<div class="pswp__bg"></div>
			<div class="pswp__scroll-wrap">
				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>

				<div class="pswp__ui pswp__ui--hidden">
					<div class="pswp__top-bar">
						<div class="pswp__counter"></div>
						<button
							class="pswp__button pswp__button--close"
							title="Close (Esc)"
						></button>
						<button
							class="pswp__button pswp__button--share"
							title="Share"
						></button>
						<button
							class="pswp__button pswp__button--fs"
							title="Toggle fullscreen"
						></button>
						<button
							class="pswp__button pswp__button--zoom"
							title="Zoom in/out"
						></button>
						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
								<div class="pswp__preloader__cut">
									<div class="pswp__preloader__donut"></div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
					>
						<div class="pswp__share-tooltip"></div>
					</div>
					<button
						class="pswp__button pswp__button--arrow--left"
						title="Previous (arrow left)"
					></button>
					<button
						class="pswp__button pswp__button--arrow--right"
						title="Next (arrow right)"
					></button>
					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>
				</div>
			</div>
		</div>
		<%include scripts.ejs%>
	</body>
</html>
