<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
	<!--<![endif]-->

	<head>
		<%include ga.ejs%>
		<meta charset="utf-8" />
		<title>Quiz - Amrita Bangalore</title>
		<meta
			name="description"
			content="IEEE (Amrita Branch) - The world's largest technical professional organization dedicated to advancing technology for the benefit of humanity."
		/>
		<meta
			name="keywords"
			content="IEEE, Amrita, ASE, ASEB, IEEE Student Branch, PELS, ComSoc, WIE, RAS, PES-IAS, forum, I square, I2"
		/>
		<meta name="author" content="Aravind V Nair, Abhishek Sai" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:title" content="Quiz - Amrita Bangalore" />
		<meta
			property="og:url"
			content="https://ieee-amrita.firebaseapp.com/Quiz"
		/>
		<meta property="og:image" content="/android-chrome-512x512.png" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_GB" />
		<meta
			property="og:description"
			content="IEEE (Amrita Branch) - The world's largest technical professional organization dedicated to advancing technology for the benefit of humanity."
		/>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/vendor.css" />
		<link rel="stylesheet" href="css/main.css" />
		<script src="js/modernizr.js"></script>
		<script src="js/pace.min.js"></script>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00abff" />
		<meta name="apple-mobile-web-app-title" content="IEEE Amrita" />
		<meta name="application-name" content="IEEE Amrita" />
		<meta name="msapplication-TileColor" content="#00abff" />
		<meta name="theme-color" content="#00abff" />
		<style>
			#top::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
				background-color: #f5f5f5;
			}
			#top::-webkit-scrollbar {
				width: 12px;
				background-color: #f5f5f5;
			}
			#top::-webkit-scrollbar-thumb {
				background-color: #f90;
				background-image: -webkit-linear-gradient(
					45deg,
					rgba(255, 255, 255, 0.2) 25%,
					transparent 25%,
					transparent 50%,
					rgba(255, 255, 255, 0.2) 50%,
					rgba(255, 255, 255, 0.2) 75%,
					transparent 75%,
					transparent
				);
			}
			#scroll::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
				background-color: #f5f5f5;
			}
			#scroll::-webkit-scrollbar {
				width: 12px;
				background-color: #f5f5f5;
			}
			#scroll::-webkit-scrollbar-thumb {
				background-color: #39b54a;
				background-image: -webkit-linear-gradient(
					45deg,
					rgba(255, 255, 255, 0.2) 25%,
					transparent 25%,
					transparent 50%,
					rgba(255, 255, 255, 0.2) 50%,
					rgba(255, 255, 255, 0.2) 75%,
					transparent 75%,
					transparent
				);
			}
		</style>
	</head>

	<body id="top">
		<header class="s-header">
			<div class="header-logo">
				<a class="site-logo" href="/">
					<img src="images/logo.png" id="site-logo" alt="Homepage" />
				</a>
			</div>

			<nav class="header-nav" id="scroll">
				<a href="#0" class="header-nav__close" title="close">
					<span>Close</span>
				</a>

				<div class="header-nav__content">
					<h3>Navigation</h3>

					<ul class="header-nav__list">
						<li class="current">
							<a href="/" title="Home">Home</a>
						</li>
						<li>
							<a href="./index.html#about" title="About">About</a>
						</li>
						<li>
							<div class="dropdown">
								<a class="smoothscroll" title="Officers"
									>Officers</a
								>
								<div class="dropdown-content">
									<a href="./index.html#officers" title="Core"
										>Core</a
									>
									<a href="./committee.html" title="Committee"
										>Committee</a
									>
								</div>
							</div>
						</li>
						<li>
							<a href="./index.html#services" title="Branches"
								>Branches</a
							>
						</li>
						<li>
							<div class="dropdown">
								<a class="smoothscroll" title="Events"
									>Events</a
								>
								<div class="dropdown-content">
									<a
										href="./index.html#works"
										title="Showcase"
										>Showcase</a
									>
									<a
										target="_blank"
										rel="noopener"
										href="http://sites.ieee.org/sb-ase/events/up-coming-events/"
										title="Upcoming"
										>Upcoming</a
									>
									<a
										target="_blank"
										rel="noopener"
										href="http://sites.ieee.org/sb-ase/events/recent-events-2/"
										title="Past"
										>Past</a
									>
								</div>
							</div>
						</li>
						<li>
							<a
								target="_blank"
								rel="noopener"
								href="http://sites.ieee.org/sb-ase/photo/"
								title="Gallery"
								>Gallery</a
							>
						</li>
						<li>
							<a href="./index.html#clients" title="Resources"
								>Resources</a
							>
						</li>
						<li>
							<a href="./join.html" title="how to join?"
								>How to join IEEE?</a
							>
						</li>
						<li>
							<a href="./benefits.html" title="benefits"
								>Benefits</a
							>
						</li>
						<li>
							<a href="./feedback.html" title="Feedback"
								>Feedback</a
							>
						</li>
						<li>
							<a
								class="smoothscroll"
								href="#contact"
								title="Contact"
								>Contact</a
							>
						</li>
					</ul>

					<p>
						<b style="color: #0f4499">External links</b>
						<br />
						<a
							target="_blank"
							rel="noopener"
							href="http://ieeebangalore.org/"
							>IEEE Bangalore Section</a
						>
						<br />
						<a
							target="_blank"
							rel="noopener"
							href="http://www.ieeer10.org/"
							>IEEE R10 Asia</a
						>
						<br />
						<a
							target="_blank"
							rel="noopener"
							href="https://www.ieee.org/index.html"
							>IEEE Global</a
						>
					</p>

					<ul class="header-nav__social">
						<li>
							<a
								target="_blank"
								rel="noopener"
								href="https://www.facebook.com/ieeeamritasb/"
							>
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a
								target="_blank"
								rel="noopener"
								href="https://www.instagram.com/ieee_amrita/"
							>
								<i class="fa fa-instagram"></i>
							</a>
						</li>
						<li>
							<a
								target="_blank"
								rel="noopener"
								href="https://www.linkedin.com/company/ieee-student-branch-ase-b/"
							>
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a class="smoothscroll" href="#contact">
								<i class="fa fa-envelope"></i>
							</a>
						</li>
					</ul>
					<br />
					<p>
						Made by
						<a
							target="_blank"
							rel="noopener"
							href="https://aravindvnair99.firebaseapp.com"
							>Aravind V. Nair</a
						>
						and
						<a
							target="_blank"
							rel="noopener"
							href="https://abhishek-sai.firebaseapp.com/"
							>Abhishek Sai</a
						>
						for IEEE
						<a
							target="_blank"
							rel="noopener"
							href="https://www.amrita.edu/campus/bengaluru"
							>Amrita Bangalore</a
						>
					</p>
				</div>
			</nav>

			<a class="header-menu-toggle" href="#0">
				<span class="header-menu-text">Menu</span>
				<span class="header-menu-icon"></span>
			</a>
		</header>
		<section class="s-about" style="padding-bottom: 0%;">
			<div class="row section-header has-bottom-sep" data-aos="fade-up">
				<div class="col-full">
					<h3 class="subhead subhead--dark">Hello There</h3>
					<h1 class="display-1 display-1--light">Quiz</h1>
				</div>
			</div>

			<div class="row about-desc" data-aos="fade-up">
				<div class="col-full">
					<ul>
						<li>
							It is a 5 min online quiz comprising of 10 multiple
							choice questions with 3 options.
						</li>
						<li>
							The link for the quiz opens at 7:00 PM sharp every
							week on Saturday.
						</li>
						<li>
							Each correct answer gets you 5 points.
						</li>
						<li>
							You must participate in at least 3 quizzes in series
							to be eligible for the grand prize.
						</li>
						<li>
							Enter valid details while registering for the quiz
							to be able to receive the prizes.
						</li>
						<li>
							All the questions will be based on science and
							technology.
						</li>
						<li>
							Time Response will be considered in case of tie.
						</li>
					</ul>
					All the very best! &#x1f60a;
				</div>
			</div>

			<div class="about__line"></div>
		</section>
		<iframe
			src="https://docs.google.com/forms/d/e/1FAIpQLSeZzVr8FpaeFzSsGE8mXeS6M2I_pRn9GWb8rNxk7ncERjSY8g/viewform?embedded=true"
			width="100%"
			height="100%"
			frameborder="0"
			marginheight="0"
			marginwidth="0"
			>Loading...</iframe
		>
		<section id="contact" class="s-contact">
			<div class="overlay"></div>
			<div class="contact__line"></div>

			<div class="row section-header" data-aos="fade-up">
				<div class="col-full">
					<h3 class="subhead">Contact Us</h3>
					<h1 class="display-2 display-2--light">
						Reach out for a new project or just say hello
					</h1>
				</div>
			</div>

			<div class="row contact-content" data-aos="fade-up">
				<div class="contact-primary">
					<h3 class="h6">Send Us A Message</h3>

					<form
						name="contactForm"
						method="POST"
						action="https://formspree.io/ieeeamrita.sb@gmail.com"
					>
						<fieldset>
							<div class="form-field">
								<input
									name="contactName"
									type="text"
									id="contactName"
									placeholder="Your Name"
									value=""
									minlength="2"
									required=""
									aria-required="true"
									class="full-width"
									autocomplete="name"
								/>
							</div>
							<div class="form-field">
								<input
									name="contactEmail"
									type="email"
									id="contactEmail"
									placeholder="Your Email"
									value=""
									required=""
									aria-required="true"
									class="full-width"
									autocomplete="email"
								/>
							</div>
							<div class="form-field">
								<input
									name="contactSubject"
									type="text"
									id="contactSubject"
									placeholder="Subject"
									value=""
									class="full-width"
								/>
							</div>
							<div class="form-field">
								<textarea
									name="contactMessage"
									id="contactMessage"
									placeholder="Your Message"
									rows="10"
									cols="50"
									required=""
									aria-required="true"
									class="full-width"
								></textarea>
							</div>
							<div class="form-field">
								<button class="full-width btn--primary">
									Submit
								</button>
								<div class="submit-loader">
									<div class="text-loader">Sending...</div>
									<div class="s-loader">
										<div class="bounce1"></div>
										<div class="bounce2"></div>
										<div class="bounce3"></div>
									</div>
								</div>
							</div>
						</fieldset>
					</form>

					<div class="message-warning">
						Something went wrong. Please try again.
					</div>

					<div class="message-success">
						Your message was sent, thank you!
						<br />
					</div>
				</div>

				<div class="contact-secondary">
					<div class="contact-info">
						<h3 class="h6 hide-on-fullwidth">Contact Info</h3>

						<div class="cinfo">
							<h5>Where to Find Us</h5>
							<p>
								Amrita Vishwa Vidyapeetham University,
								<br />
								Kasavanahalli, <br />
								Carmelaram P.O., Bangalore <br />
								560 035 <br />
								Karnataka, India
							</p>
						</div>

						<div class="cinfo">
							<h5>Email Us At</h5>
							<p>
								<a href="mailto:ieeeamrita.sb@gmail.com"
									>ieeeamrita.sb@gmail.com</a
								>
							</p>
						</div>

						<div class="cinfo">
							<h5>Call Us At</h5>
							<p>
								Mobile:
								<a href="tel:+918904996683"
									>(+91) 890 499 6683</a
								>
							</p>
						</div>

						<ul class="contact-social">
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://www.facebook.com/ieeeamritasb/"
								>
									<i
										class="fa fa-facebook"
										aria-hidden="true"
									></i>
								</a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://www.instagram.com/ieee_amrita/"
								>
									<i
										class="fa fa-instagram"
										aria-hidden="true"
									></i>
								</a>
							</li>
							<li>
								<a
									target="_blank"
									rel="noopener"
									href="https://www.linkedin.com/company/ieee-student-branch-ase-b/"
								>
									<i
										class="fa fa-linkedin"
										aria-hidden="true"
									></i>
								</a>
							</li>
							<li>
								<a class="smoothscroll" href="#contact">
									<i
										class="fa fa-envelope"
										aria-hidden="true"
									></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="row footer-main">
				<div class="col-six tab-full left footer-desc">
					<div class="footer-logo"></div>
					The world's largest technical professional organization
					dedicated to advancing technology for the benefit of
					humanity.
				</div>

				<div class="col-six tab-full right footer-subscribe">
					<h4>Get Notified</h4>
					<p>
						Leave us your email to keep yourself updated.
					</p>

					<div class="subscribe-form">
						<form id="mc-form" class="group" novalidate="true">
							<input
								type="email"
								value=""
								name="EMAIL"
								class="email"
								id="mc-email"
								placeholder="Email Address"
								required=""
							/>
							<input
								type="submit"
								name="subscribe"
								value="Subscribe"
							/>
							<label
								for="mc-email"
								class="subscribe-message"
							></label>
						</form>
					</div>
				</div>
			</div>

			<div class="row footer-bottom">
				<div class="col-twelve">
					<div class="copyright">
						<span>&copy; Copyright IEEE Amrita 2018</span>
						<span
							>Made by
							<a
								target="_blank"
								rel="noopener"
								href="https://aravindvnair99.firebaseapp.com"
								>Aravind V. Nair</a
							>
							and
							<a
								target="_blank"
								rel="noopener"
								href="https://abhishek-sai.firebaseapp.com/"
								>Abhishek Sai</a
							>
							for IEEE
							<a
								target="_blank"
								rel="noopener"
								href="https://www.amrita.edu/campus/bengaluru"
								>Amrita Bangalore</a
							>
						</span>
					</div>

					<div class="go-top">
						<a class="smoothscroll" title="Back to Top" href="#top">
							<i class="icon-arrow-up" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
		</footer>
		<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
			<div class="pswp__bg"></div>
			<div class="pswp__scroll-wrap">
				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>

				<div class="pswp__ui pswp__ui--hidden">
					<div class="pswp__top-bar">
						<div class="pswp__counter"></div>
						<button
							class="pswp__button pswp__button--close"
							title="Close (Esc)"
						></button>
						<button
							class="pswp__button pswp__button--share"
							title="Share"
						></button>
						<button
							class="pswp__button pswp__button--fs"
							title="Toggle fullscreen"
						></button>
						<button
							class="pswp__button pswp__button--zoom"
							title="Zoom in/out"
						></button>
						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
								<div class="pswp__preloader__cut">
									<div class="pswp__preloader__donut"></div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
					>
						<div class="pswp__share-tooltip"></div>
					</div>
					<button
						class="pswp__button pswp__button--arrow--left"
						title="Previous (arrow left)"
					></button>
					<button
						class="pswp__button pswp__button--arrow--right"
						title="Next (arrow right)"
					></button>
					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>
				</div>
			</div>
		</div>
		<%include scripts.ejs%>
	</body>
</html>
